@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .text-shadow-white {
    text-shadow:
      -1px -1px 2px #fff,
      1px -1px 2px #fff,
      -1px 1px 2px #fff,
      1px 1px 2px #fff;
  }
  .insert-center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .insert-center-y {
    top: 50%;
    transform: translateY(-50%);
  }
  .insert-center-y-full-left-x {
    top: 50%;
    transform: translate(-100%, -50%);
  }
}
