@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --swiper-theme-color: #83a537;
  }
  .swiper-navigation-hide .swiper-button-prev,
  .swiper-navigation-hide .swiper-button-next {
    display: none;
  }
}

@layer components {
  .text-shadow-white {
    text-shadow:
      -1px -1px 2px #fff,
      1px -1px 2px #fff,
      -1px 1px 2px #fff,
      1px 1px 2px #fff;
  }
  .inset-center {
    @apply left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2;
  }
  .inset-center-y {
    @apply top-1/2 -translate-y-1/2;
  }
  .section-1-heading {
    -webkit-text-stroke: 2px #fff;
  }
  .section-6-heading {
    -webkit-text-stroke: 0.175rem #ff720e;
  }
  .section-7-heading {
    text-shadow: 0px 0px 10px #ff720e;
    -webkit-text-stroke: 3px #000;
  }
  .logo-text-gradient-green {
    @apply animate-[gradient_4s_ease-in-out_infinite];
    background: linear-gradient(to right, #3e8349, #357a37, #3e8349, #d9efa4);
    color: transparent;
    background-size: 300%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

html {
  font-size: 12px;
}

@media screen and (min-width: 375px) {
  html {
    font-size: 12px;
  }
}

@media screen and (min-width: 768px) {
  html {
    font-size: 15px;
  }
}

@media screen and (min-width: 1280px) {
  html {
    font-size: 16px;
  }
}

nextjs-portal {
  display: none !important;
}

.ms-track.ms-y {
  border: none;
  width: 6px;
}
.ms-track.ms-y .ms-thumb {
  right: 1px;
}

/* @media screen and (max-width: 767.98px) {
  .ms-global .ms-track.ms-y {
    display: none;
  }
} */
.ms-global > .ms-track-box .ms-track.ms-y .ms-thumb:hover {
  width: 6px;
}

.ms-global > .ms-track-box .ms-track.ms-y .ms-thumb:hover {
  width: 6px;
}

.ms-track.ms-y.ms-active .ms-thumb,
.ms-track.ms-y:hover .ms-thumb {
  width: 6px;
}

.ms-track,
.ms-track.ms-active,
.ms-track.ms-active:hover,
.ms-track:hover {
  border: none !important;
  background: none !important;
}

.ms-track.ms-x {
  height: 6px;
}

.ms-track.ms-x .ms-thumb {
  bottom: 1px;
}

.ms-track.ms-x:hover .ms-thumb {
  height: 6px;
}
